.campanyResitForm {
  position: absolute;
  width: $body-width;
  height: 100%;

  &_positioning {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: auto;
  }

  &-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  &-btn-submit {
    border: none;
    width: 100px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: $blue;
    margin-right: 10px;
  }

  &-btn-cancel {
    border: none;
    width: 100px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    outline: none;
    margin-right: 10px;
  }

  &-message {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }


      // &[type=text] {
      //   border: 1px solid #ddd;
      // }
      //
      // &[type=button] {
      //   border: none;
      //   color: $black;
      //   background-color: $blue;
      //
      //   &:focus {
      //     outline: none;
      //   }
      // }
    }
