$black: #000000;
$white: #fff;
$light-gray: hsl(200, 5%, 94%);
$medium-light-gray: hsl(200, 5%, 87%);
$gray: hsl(200, 5%, 50%);
$medium-dark-gray: hsl(200, 5%, 17%);
$dark-gray: hsl(200, 5%, 10%);
$blue: #46c8de;
$light-blue: lighten($blue, 15%);
$navy: #002938;
$red: #db2828;
