.form-label {
  margin-top: 15px;
}

.form-input {
  & input {
    display: block;
    width: 280px;
    height: 10px;
    margin-top: 5px;
    padding: 10px;
  }
}

.text-help {
  font-size: 12px
}

.form-warning {
  color: $red;
}
